<%include ../partial/header%>
<section class="addproduct-section">
    <div class="row">
        <div class="addblog-container">
                <%error%>
            <form class="addproduct-form" action="/pivotalflow/addblog" method="POST" enctype="multipart/form-data">
                <h1 class="addproduct-heading">COMPOSE..</h1>
                <input type="text" id="title" class="form-control addproduct-input" placeholder="Title" name="title" required>
                <label class="addproduct-label" for="title">Title</label>
                <input type="file" class="form-control-file addproduct-input" name="photo" accept="image/*" id="file-photo" required>
                <input type="text" id="description" class="form-control addproduct-input" placeholder="Description" name="body" required>
                <label class="addproduct-label" for="description">Content</label>
                <div class="addproduct-button-heading">
                    <button class="btn btn-lg addproduct-button">Submit</button>
                </div>
            </form>
           
        </div>
    </div>
</section>
 
<%include ../partial/footer%>