<%include partial/header%>
<section class="about-section">
    <div class="container">
        <h3 class="text-center about-heading">About us</h3>
        <h6 class="text-center about-heading-2"><a href="/pivotalflow">HOME<i class="material-icons arrow-right">keyboard_arrow_right</i></a>              ABOUT US<i class="material-icons arrow-right">keyboard_arrow_right</i></h6>       
    </div>
</section>
<section class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="card-heading">Welcome to PivotalFlow</h2>
                <p class="about-para">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                <p class="about-para">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>        
                <p class="about-para">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten
                     a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text
                      should turn around and return to its own, safe country. But nothing the copy said could convince her and so
                       it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole
                        and dragged her into their agency, where they abused her for their</p>
            
            </div>
            <div class="col-md-5">
                <div class="card side-card">
                    <img src="https://images.pexels.com/photos/1543895/pexels-photo-1543895.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="insprition photo">
                    <div class="card-body">
                        <h5 class="card-title side-title">Read Our Success Story for Inspiration</h5>
                        <p class="card-text side-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.<p>
                        <p class="card-text side-para">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                        <div class="side-button">
                            <a class="btn btn-lg">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</section>
<section class="best-part">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://www.krtmarketing.com/blog/wp-content/uploads/2016/11/trust.jpg" class="best-photo"data-aos="fade-right"
                data-aos-offset="300"
                data-aos-easing="ease-in-sine" alt="business-photo">  
            </div>
            <div class="col-md-6">
                <h3 class="best-heading">We Are the Best Consulting Agency</h3>
                <p class="best-para">Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country. A small river named Duden flows by their place and supplies it with
                     the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <p class="best-para">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>     
            </div>
        </div>
    </div>
</section>
<section class="best-guidance">
        <div class="container">
            <h4 class="best-guidance-title text-center" data-aos="fade-up">You Always Get the Best Guidance</h4>
        </div>
        <div class="container skills">
            <div class="row">
                <div class="col-md-3 skills-1">
                   <h5 class="skills-title">705</h5>
                    <hr class="style-eight">
                    <p class="skills-para">PROJECTS COMPLETED</p>
                </div>
                <div class="col-md-3 skills-1">
                    <h5 class="skills-title">809</h5>
                    <hr class="style-eight">
                    <p class="skills-para">SATISFIED CUSTOMER</p> 
                </div>
                <div class="col-md-3 skills-1">
                    <h5 class="skills-title">335</h5>
                    <hr class="style-eight">
                    <p class="skills-para">AWWARDS RECEIVED</p> 
                </div>
                <div class="col-md-3 skills-1">
                    <h5 class="skills-title">35</h5>
                    <hr class="style-eight">
                    <p class="skills-para">YEARS OF EXPERIENCED</p> 
                </div>
            </div>
        </div>
</section>
<section class="rotate-card">
        <div class="container">
            <h2 class="text-center rotate-card-heading" data-aos="fade-up">Our Clients Says</h2>
            <p class="text-center rotate-card-para" data-aos="fade-up">Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
            <div class="row client-allcards">
                <div class="col-md-4">
                    <div class="card mb-3 client-card"data-aos="fade-right" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPhirlZ2rzgVYeul268aL9FZw3jJ3Wmff5lAc-mpwya2-S3x5HIA" class="card-img img-circle" alt="...">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text client-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <h5 class="card-title client-title">Ken Bosh</h5>
                                <p class="card-text client-work">Business Man</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 client-card"data-aos="fade-up" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                <img src="https://www.pouted.com/wp-content/uploads/2017/08/young-business-woman-in-office-1-780x405.jpg" class="card-img img-circle" alt="...">
                                </div>
                                <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text client-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <h5 class="card-title client-title">Lauren</h5>
                                    <p class="card-text client-work">Business Women</p>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 client-card"data-aos="fade-left" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                <img src="https://keirqld.com.au/wp-content/uploads/2016/04/man-in-office.jpg" class="card-img img-circle" alt="...">
                                </div>
                                <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text client-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <h5 class="card-title client-title">Mark Huff</h5>
                                    <p class="card-text client-work">Business Man</p>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="footer-question">Have a Questions?</h5>
                    <div class="location">
                            <span class="location-icon"><i class="material-icons">location_on</i></span>
                            <p class="footer-para">	203 Fake St. Mountain View, San Francisco, California, USA</p>
                    </div>
                    <div class="footer-phone">
                        <span class="phone-icon"><i class="fa fa-phone"style="font-size:24px"></i></span>
                        <p class="footer-para">+2 392 3929 210</p>
                    </div>
                    <div class="footer-mail">
                        <span class="mail-icon"><i class="material-icons">email</i></span>
                        <p class="footer-para">info@yourdomain.com</p>
                    </div>
                    </div>
                    <div class="col-md-3">
                        <h5 class="footer-question">Recent Blog</h5>
                        <div class="card mb-3 footer-blog" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                <img src="https://nycofficesuites.com/wp-content/uploads/2017/09/Two-men-having-a-discussion-during-a-business-lunch-1.jpg" class="card-img footer-blog-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                <div class="card-body footer-card-body">
                                    <p class="card-text footer-blog-para"data-aos="fade-up"data-aos-duration="1000">Even the all-powerful Pointing has no control about</p>
                                    <p class="card-text footer-calender"><small class="text-muted"><i class='fas fa-calendar-alt'></i> June 27, 2019</small></p>
                                    <p class="card-text"><small class="text-muted"><i class='fas fa-user'></i>    Admin</small></p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 footer-blog" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                <img src="https://s29814.pcdn.co/wp-content/uploads/2018/01/shutterstock_18152863-1024x683.jpg" class="card-img footer-blog-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                <div class="card-body footer-card-body">
                                    <p class="card-text footer-blog-para"data-aos="fade-up"data-aos-duration="1000">Even the all-powerful Pointing has no control about</p>
                                    <p class="card-text footer-calender"><small class="text-muted"><i class='fas fa-calendar-alt'></i> June 28, 2019</small></p>
                                    <p class="card-text"><small class="text-muted"><i class='fas fa-user'></i>    Admin</small></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h5 class="footer-question">Links</h5>
                        <div class="footer-links">
                            <p><a href="#"><i class='fas fa-arrow-right'></i>  Home</a></p>
                            <p><a href="#"><i class='fas fa-arrow-right'></i>  About</a></p>
                            <p><a href="#"><i class='fas fa-arrow-right'></i>  Services</a></p>
                            <p><a href="#"><i class='fas fa-arrow-right'></i>  Projects</a></p>
                            <p><a href="#"><i class='fas fa-arrow-right'></i>  Contact</a></p>
                        </div>                           
                    </div>
                    <div class="col-md-3">
                        <h5 class="footer-question">Subscribe Us!</h5>
                        <form class="subscribe-form">
                                <input type="email" placeholder="Enter your Email" class="form-control footer-search" aria-describedby="emailHelp">
                                <a class="btn btn-lg footer-subscribe">Subscribe</a>
                        </form>
                        <div class="contact">
                            <h5 class="footer-question">Connect With Us</h5>
                            <div class="social-icons">
                                <p class="px-3"data-aos="fade-up"data-aos-duration="1000"><a href=""><i class='fab fa-facebook-square' style='font-size:36px'></i></a></p>
                                <p class="pr-3"data-aos="fade-up"data-aos-duration="1000"><a href=""><i class='fab fa-twitter-square' style='font-size:36px'></i></a></p>
                                <p data-aos="fade-up"data-aos-duration="1000"><a href=""><i class='fab fa-instagram' style='font-size:36px;color:red'></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center last-para">Copyright ©2019 All rights reserved | This website is made with <i class='fas fa-heart' style='font-size:20px'></i> by Sankar</p>
            </div>
        </section>
                
<%include partial/footer%>