<%include partial/header%>
<section class="contact-section">
    <div class="container">
            <h3 class="text-center about-heading">Contact Us</h3>
            <h6 class="text-center about-heading-2"><a href="/pivotalflow">HOME<i class="material-icons arrow-right">keyboard_arrow_right</i></a>              CONTACT<i class="material-icons arrow-right">keyboard_arrow_right</i></h6>       
    </div>
</section>
<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-8 info">
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-center"><i class="material-icons google-map" style="font-size:36px">map</i></p>
                        <h6 class="text-center">Address:</h6>
                        <p class="text-center map-para">198 West 21th Street, Suite</p>
                        <p class="text-center">721 New York NY 10016</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-center"><i class="fa fa-mobile-phone" style="font-size:36px"></i></p>
                        <h6 class="text-center">Phone:</h6>
                        <p class="text-center">+ 1235 2355 98</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-center"><i class="material-icons" style="font-size:36px">email</i></p>
                        <h6 class="text-center">Email:</h6>
                        <p class="text-center">info@yoursite.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<section class="message-box">
    <div class="container">
        <h4 class="text-center message-box-heading">If you got any questions please do not hesitate to send us a message</h4>
    </div>
    <div class="text-center">
        <form class="message-box-form">
            <input type="text" class="form-control message-box-inner" placeholder="Your Name" required autofocus>
            <input type="text" class="form-control message-box-inner" placeholder="Email" required>
            <input type="text" class="form-control message-box-inner" placeholder="Subject" required>
            <textarea class="form-control message-box-inner" placeholder="Message"></textarea>
            <a class="btn btn-lg message-box-button">Send Message</a>
        </form>
        
    </div>
</section>
<section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="footer-question">Have a Questions?</h5>
                <div class="location">
                        <span class="location-icon"><i class="material-icons">location_on</i></span>
                        <p class="footer-para">	203 Fake St. Mountain View, San Francisco, California, USA</p>
                </div>
                <div class="footer-phone">
                    <span class="phone-icon"><i class="fa fa-phone"style="font-size:24px"></i></span>
                    <p class="footer-para">+2 392 3929 210</p>
                </div>
                <div class="footer-mail">
                    <span class="mail-icon"><i class="material-icons">email</i></span>
                    <p class="footer-para">info@yourdomain.com</p>
                </div>
                </div>
                <div class="col-md-3">
                    <h5 class="footer-question">Recent Blog</h5>
                    <div class="card mb-3 footer-blog" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                            <img src="https://nycofficesuites.com/wp-content/uploads/2017/09/Two-men-having-a-discussion-during-a-business-lunch-1.jpg" class="card-img footer-blog-img" alt="...">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body footer-card-body">
                                <p class="card-text footer-blog-para"data-aos="fade-up"data-aos-duration="1000">Even the all-powerful Pointing has no control about</p>
                                <p class="card-text footer-calender"><small class="text-muted"><i class='fas fa-calendar-alt'></i> June 27, 2019</small></p>
                                <p class="card-text"><small class="text-muted"><i class='fas fa-user'></i>    Admin</small></p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 footer-blog" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                            <img src="https://s29814.pcdn.co/wp-content/uploads/2018/01/shutterstock_18152863-1024x683.jpg" class="card-img footer-blog-img" alt="...">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body footer-card-body">
                                <p class="card-text footer-blog-para"data-aos="fade-up"data-aos-duration="1000">Even the all-powerful Pointing has no control about</p>
                                <p class="card-text footer-calender"><small class="text-muted"><i class='fas fa-calendar-alt'></i> June 28, 2019</small></p>
                                <p class="card-text"><small class="text-muted"><i class='fas fa-user'></i>    Admin</small></p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5 class="footer-question">Links</h5>
                    <div class="footer-links">
                        <p><a href="#"><i class='fas fa-arrow-right'></i>  Home</a></p>
                        <p><a href="#"><i class='fas fa-arrow-right'></i>  About</a></p>
                        <p><a href="#"><i class='fas fa-arrow-right'></i>  Services</a></p>
                        <p><a href="#"><i class='fas fa-arrow-right'></i>  Projects</a></p>
                        <p><a href="#"><i class='fas fa-arrow-right'></i>  Contact</a></p>
                    </div>                           
                </div>
                <div class="col-md-3">
                    <h5 class="footer-question">Subscribe Us!</h5>
                    <form class="subscribe-form">
                            <input type="email" placeholder="Enter your Email" class="form-control footer-search" aria-describedby="emailHelp">
                            <a class="btn btn-lg footer-subscribe">Subscribe</a>
                    </form>
                    <div class="contact">
                        <h5 class="footer-question">Connect With Us</h5>
                        <div class="social-icons">
                            <p class="px-3"data-aos="fade-up"data-aos-duration="1000"><a href=""><i class='fab fa-facebook-square' style='font-size:36px'></i></a></p>
                            <p class="pr-3"data-aos="fade-up"data-aos-duration="1000"><a href=""><i class='fab fa-twitter-square' style='font-size:36px'></i></a></p>
                            <p data-aos="fade-up"data-aos-duration="1000"><a href=""><i class='fab fa-instagram' style='font-size:36px;color:red'></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center last-para">Copyright ©2019 All rights reserved | This website is made with <i class='fas fa-heart' style='font-size:20px'></i> by Sankar</p>
        </div>
</section>
    
<%include partial/footer%>