<%include partial/header%>
<section class="service-section">
    <div class="container">
        <h3 class="text-center about-heading">Services</h3>
        <h6 class="text-center about-heading-2"><a href="/pivotalflow">HOME<i class="material-icons arrow-right">keyboard_arrow_right</i></a>               SERVICES<i class="material-icons arrow-right">keyboard_arrow_right</i></h6>  
    </div>
</section>
<section class="section-card">
        <div class="container">
            <div class="row">
                <div class="col-md-7 order-2 order-md-1">
                    <h2 class="card-heading">Our Main Features</h2>
                    <p class="card-para">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word</p>
                    <div class="row">
                        <div class="col-md-5 first-card active-card text-white">
                            <span class="icon"><i class='fas fa-balance-scale' style='font-size:36px'></i></span>
                            <h5 class="card-title text-center">Organization</h5>
                            <p class="card-text text-center">Far far away, behind the word mountains, far from the countries Vokalia.</p>   
                        </div>
                        <div class="col-md-5 first-card not-active-card"data-aos="fade-up">
                            <span class="icon"><i class='fas fa-poll' style='font-size:36px'></i></span>
                            <h5 class="card-title text-center">Marketing Strategy</h5>
                            <p class="card-text text-center">Far far away, behind the word mountains, far from the countries Vokalia.</p>                              
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 first-card not-active-card"data-aos="fade-up">
                            <span class="icon"><i class='fas fa-search-dollar' style='font-size:36px'></i></span>
                            <h5 class="card-title text-center">Risk Analysis</h5>
                            <p class="card-text text-center">Far far away, behind the word mountains, far from the countries Vokalia.</p>   
                        </div>
                        <div class="col-md-5 first-card not-active-card"data-aos="fade-up">
                            <span class="icon"><i class='fas fa-handshake' style='font-size:36px'></i></span>
                            <h5 class="card-title text-center">Capital Market</h5>
                            <p class="card-text text-center">Far far away, behind the word mountains, far from the countries Vokalia.</p>                              
                        </div>
                    </div>                      
                </div>
                <div class="col-md-5 order-1 order-md-2">
                    <div class="card side-card"data-aos="fade-up">
                        <img src="https://images.pexels.com/photos/1543895/pexels-photo-1543895.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="insprition photo">
                        <div class="card-body">
                            <h5 class="card-title side-title">Read Our Success Story for Inspiration</h5>
                            <p class="card-text side-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.<p>
                            <p class="card-text side-para">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                            <div class="side-button">
                                <a class="btn btn-lg">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="best-services">
    <div class="container">
        <div class="services">
                <h3 class="services-heading text-center"data-aos="fade-up">Our Best Services</h3>
                <p class="services-para text-center"data-aos="fade-up">
                    Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                </p>
           </div>
           <div class="row business">
                <div class="col-md-4 business-card"data-aos="fade-right">
                    <span class="business-icon"><i class='fas fa-balance-scale' style='font-size:36px'></i></span>
                    <h4 class="business-heading text-center">Business Analysis</h4>
                    <p class="business-para text-center">Far far away, behind the word mountains, far from the countries Vokalia.</p>
                </div>
                <div class="col-md-4 business-card"data-aos="fade-up">
                    <span class="business-icon"><i class="fa fa-group group" style="font-size:36px"></i></span>
                    <h4 class="business-heading text-center">Business Consulting</h4>
                    <p class="business-para text-center">Far far away, behind the word mountains, far from the countries Vokalia.</p>
                </div>
                <div class="col-md-4 business-card"data-aos="fade-left">
                    <span class="business-icon"><i class='fas fa-funnel-dollar' style='font-size:36px'></i></span>
                    <h4 class="business-heading text-center">Business Insurance</h4>
                    <p class="business-para text-center">Far far away, behind the word mountains, far from the countries Vokalia.</p>
                </div>
           </div>
           <div class="row business-2">
                <div class="col-md-4 business-card"data-aos="fade-right">
                    <span class="business-icon"><i class='fas fa-globe' style='font-size:36px'></i></span>
                    <h4 class="business-heading text-center">Global Investigation</h4>
                    <p class="business-para text-center">Far far away, behind the word mountains, far from the countries Vokalia.</p>
                </div>
                <div class="col-md-4 business-card"data-aos="fade-up">
                    <span class="business-icon"><i class='fab fa-expeditedssl' style='font-size:36px'></i></span>
                    <h4 class="business-heading text-center">Audit & Evaluation</h4>
                    <p class="business-para text-center">Far far away, behind the word mountains, far from the countries Vokalia.</p>
                </div>
                <div class="col-md-4 business-card"data-aos="fade-left">
                    <span class="business-icon"><i class='fas fa-poll' style='font-size:36px'></i></span>
                    <h4 class="business-heading text-center">Marketing Strategy</h4>
                    <p class="business-para text-center">Far far away, behind the word mountains, far from the countries Vokalia.</p>
                </div>
           </div>
        </div>
    </div>    
</section>
<section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="footer-question">Have a Questions?</h5>
                <div class="location">
                        <span class="location-icon"><i class="material-icons">location_on</i></span>
                        <p class="footer-para">	203 Fake St. Mountain View, San Francisco, California, USA</p>
                </div>
                <div class="footer-phone">
                    <span class="phone-icon"><i class="fa fa-phone"style="font-size:24px"></i></span>
                    <p class="footer-para">+2 392 3929 210</p>
                </div>
                <div class="footer-mail">
                    <span class="mail-icon"><i class="material-icons">email</i></span>
                    <p class="footer-para">info@yourdomain.com</p>
                </div>
                </div>
                <div class="col-md-3">
                    <h5 class="footer-question">Recent Blog</h5>
                    <div class="card mb-3 footer-blog" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                            <img src="https://nycofficesuites.com/wp-content/uploads/2017/09/Two-men-having-a-discussion-during-a-business-lunch-1.jpg" class="card-img footer-blog-img" alt="...">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body footer-card-body">
                                <p class="card-text footer-blog-para"data-aos="fade-up"data-aos-duration="1000">Even the all-powerful Pointing has no control about</p>
                                <p class="card-text footer-calender"><small class="text-muted"><i class='fas fa-calendar-alt'></i> June 27, 2019</small></p>
                                <p class="card-text"><small class="text-muted"><i class='fas fa-user'></i>    Admin</small></p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 footer-blog" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                            <img src="https://s29814.pcdn.co/wp-content/uploads/2018/01/shutterstock_18152863-1024x683.jpg" class="card-img footer-blog-img" alt="...">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body footer-card-body">
                                <p class="card-text footer-blog-para"data-aos="fade-up"data-aos-duration="1000">Even the all-powerful Pointing has no control about</p>
                                <p class="card-text footer-calender"><small class="text-muted"><i class='fas fa-calendar-alt'></i> June 28, 2019</small></p>
                                <p class="card-text"><small class="text-muted"><i class='fas fa-user'></i>    Admin</small></p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5 class="footer-question">Links</h5>
                    <div class="footer-links">
                        <p><a href="#"><i class='fas fa-arrow-right'></i>  Home</a></p>
                        <p><a href="#"><i class='fas fa-arrow-right'></i>  About</a></p>
                        <p><a href="#"><i class='fas fa-arrow-right'></i>  Services</a></p>
                        <p><a href="#"><i class='fas fa-arrow-right'></i>  Projects</a></p>
                        <p><a href="#"><i class='fas fa-arrow-right'></i>  Contact</a></p>
                    </div>                           
                </div>
                <div class="col-md-3">
                    <h5 class="footer-question">Subscribe Us!</h5>
                    <form class="subscribe-form">
                            <input type="email" placeholder="Enter your Email" class="form-control footer-search" aria-describedby="emailHelp">
                            <a class="btn btn-lg footer-subscribe">Subscribe</a>
                    </form>
                    <div class="contact">
                        <h5 class="footer-question">Connect With Us</h5>
                        <div class="social-icons">
                            <p class="px-3"data-aos="fade-up"data-aos-duration="1000"><a href=""><i class='fab fa-facebook-square' style='font-size:36px'></i></a></p>
                            <p class="pr-3"data-aos="fade-up"data-aos-duration="1000"><a href=""><i class='fab fa-twitter-square' style='font-size:36px'></i></a></p>
                            <p data-aos="fade-up"data-aos-duration="1000"><a href=""><i class='fab fa-instagram' style='font-size:36px;color:red'></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center last-para">Copyright ©2019 All rights reserved | This website is made with <i class='fas fa-heart' style='font-size:20px'></i> by Sankar</p>
        </div>
</section>
               
<%include partial/footer%>